.result-div { 

  margin-top: 40px;
}
.result-gyms { 
  background-color: rgb(29, 97, 243);
  width: 55%;
  height: 125px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  color: white;
}

.result-gyms:hover { 
  cursor: pointer; 
  opacity: 0.8;

}


.result-link { 
  text-decoration: none;
  color: white;
}

.result-link:hover { 
  cursor: pointer; 
  opacity: 0.8;
}

.gym-name {
  margin: 0px;
}

.gym-address {
  margin: 0px;
  height: 25px;
  font-style: italic;
}
