.result-div { 
  background-color: gray;
  width: 400px;  
  padding: 15px;
}

.result-link { 
  text-decoration: none;
  color: white;
  margin-top: 20px;
}

.gym-name {

}

.gym-address {

}

.gym-rating {

}