.result-div { 
  background-color: lightskyblue;
  width: 65%;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  font-family: "Lucida Console"
}

.result-div:hover{
  background-color:blue;
}

.result-link { 
  text-decoration: none;
  color: white;
  margin-top: 20px;
}

.result-div h1{
  font-size: calc(4px + 3vw);
}

.result-div h2{
  font-size: calc(1px + 1.5vw);
}

.gym-name {

}

.gym-address {

}

.gym-rating {

}