.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: center;
  background-color: rgba(0,0,0,75%);
  color: cornsilk;
  font-family: Roboto;
  font-size: calc(5px + 2vw);
  z-index: 1.0;
  position: absolute;
  margin-top: auto;
  margin-bottom: 50vh;
}

.home-results-button { 
  color: white;
  background-color: rgba(125,0,0,75%);
  border-color: rgba(255,0,0,75%);
  border-width: calc(2px + 2vw);
  font-size: calc(4.8px + 2vw);
  align-self: center;
  justify-content: center;
  text-align: center;
}

#nav-wrapper{
  justify-content: center;
  align-self: center;
  text-align: center;
}

img{
  z-index: 0.5;
  width:100%;
  height: 70%;
  object-fit: fill;
  overflow: hidden;
  position: relative;
}