.gym-div {
    width: 100%;
    min-height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;
}

.main-content2{
    background-color: lightskyblue;
    color: cornsilk;
    display: flex;
    flex-direction: column;
    font-family: "Lucida Console";

}

.gym-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-left: 4vw;
    padding-right: 4vw;

}

.gym-header h1{
    font-size: calc(2px + 2vw);
    justify-content: left;
}

.gym-header h3{
    font-size: calc(1.5px + 2vw);
    justify-content: right;
    font-style: italic;
}

.gym-body{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    color: white;
}

.rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.rating h5{
    font-size: calc(1.3px + 2vw);
}

.gym-button { 
    background-color: rgb(29, 97, 243);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 150px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .gym-button:hover { 
    cursor: pointer;
    opacity: 0.8;
  }

.gym-body p{
    font-size: calc(1.5px + 1.5vw);
}

.gym-category { 
    margin: 0px;
    margin-top: 25px;
    font-size: 30px;
}

.gym-category-description { 
    margin-top: 0px;
    margin-bottom: 10px; 
    font-size: 20px;

}

.result-link { 
    margin: 0px; 
    padding: 0px;
}

.slidecontainer { 
    width:700px;
}