.gym-div {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;
}

.main-content2{
    background-color: lightskyblue;
    color: cornsilk;
    display: flex;
    flex-direction: column;
    font-family: "Lucida Console";

}

.gym-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    opacity: 80%;
    padding-left: 4vw;
    padding-right: 4vw;

}

.gym-header h1{
    font-size: calc(2px + 2vw);
    justify-content: left;
}

.gym-header h3{
    font-size: calc(1.5px + 2vw);
    justify-content: right;
}

.gym-body{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    background-color: lightskyblue;
}

.rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rating h5{
    font-size: calc(1.3px + 2vw);
}

.rating button{
    font-size: calc(1.3px + 2vw);
    background-color: black;
    border-color: white;
    color: white;
    padding: 1vw;
    border-width: 0.2vw;
}

.gym-body p{
    font-size: calc(1.5px + 1.5vw);
}