.rating-header{
    display: flex;
    flex-direction: column;
    background-color: darkred;
    z-index: 0.5;
}

.rating-header h2{
    color: cornsilk;
    font-size: calc(2px + 2vw);
}

.rating-header h4{
    color: cornsilk;
    font-size: calc(1.8px + 2vw);
}

.rating-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: cornsilk;
    font-family: Roboto;
    z-index: 0.5;
}

.rating-body input{
    border-color: darkred;
    color: black;
    background-color: cornsilk;
    border-width: 5vw;
}

.alert-window{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.alert-window-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    background-color: black;
    opacity: 70%;
}

.alert-window-child p{
    color: cornsilk;
    font-size: calc(1.5px + 2vw);
}

.alert-window-child button{
    font-size: calc(1.5px + 2vw);
    color: cornsilk;
    background-color: darkred;
    border-color: red;
    border-width: calc(1px + 2vw);
}
