#footer{
    background-color: white;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    margin: 0px;
    color: rgb(29, 97, 243); 
    font-weight: 700;
}